<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="/listStyle.css">
    <link rel="stylesheet" type="text/css" href="/formstyle.css">
<head>
    <title>RemindAll</title>
    <link rel="stylesheet" href="/group.css">
</head>
<body>
    <div class="container">
    <h1>Reminders</h1>
    <% if (reminders.length === 0) { %>
      <p>No reminders yet.</p>
    <% } else { %>
      <ol class="alternating-colors">
        <% reminders.forEach((reminder) => { %>
          <li>
            <h2><%= reminder.title %></h2>
            <p><%= reminder.description %></p>
            <p><%= reminder.date %></p>
            <!-- <form action="/reminders/<%= reminder._id %>?_method=DELETE" method="POST">
              <button>Delete</button>
            </form> -->
            <form action="/reminders/<%= reminder._id %>" method="POST">
              
                  <input type="hidden" name="_method" value="DELETE">
                <button class="boxy">Delete</button>
                
            </form>
            
          </li>
        <% }) %>
      </ol>
    <% } %>
        <div class="field padding-bottom--24">
    <a href="/addReminder"><input type="submit" name="submit" value="Add Reminder"></a>
        </div>
  </div>
</body>
</html>